<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image"><img src="/images/historial.jpg" alt="" /></a>
			<header>
				<h2>Historial de Vacunación</h2>
				<p class="numerocedula">a</p>
			</header>
			<p>
				<section class="get">
					<form method="post" action="/users/historial">
						<div class="block center">
							<div class="form-group">
								<label>Tipo de Documento</label>
								<select id="tipoDocumento" name="tipoDocumento" style="width: 300px; display:inline-block;">
			                        <option value="cc">Cedula de Ciudadania</option>
			                        <option value="ti">Tarjeta de Identidad</option>
			                        <option value="pasaporte">Pasaporte</option>
			                    </select>
							</div>
							<div class="form-group">
								<label>Numero de Documento</label>
								<input type="text" class="form-control" name="documento" placeholder="Usuario" style="width: 300px; display:inline-block;">
							</div>
							<p></p>
							<button type="submit" class="btn btn-default">Consultar</button>
						</div>
					</form>
				</section>
			</p>
		</article>

	</div>
</div>