<section id="banner">
	<header>
		<h2>Sistema de Información</h2>
		<p>Para sistematizar el carnet de Vacunación</p>
	</header>
</section>

<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<header>
				<h2>Consultar Historial de Vacunación</h2>
				<p>Ingresa tu numero de documento para realizar la consulta</p>
			</header>
			<div>El gobierno nacional dentro de su iniciativa de Gobierno en Línea, ha venido construyendo un portal web en el que se unifica tanto el acceso a la información como la elaboración de trámites y la adquisición de servicios con el estado
					<p></p>
					Cada niño colombiano desde que nace y hasta los 5 años, debe recibir una serie de vacunas que se ajustan a un esquema de vacunación definido por el ministerio de salud y de la protección social
					<p></p>
					En adelante, siendo niño o adulto, a la persona se le pueden aplicar refuerzos y otras vacunas que no están en el esquema básico de vacunación. Por ejemplo, la vacuna de la fiebre amarilla es obligatoria si se van a visitar zonas de riesgo, o se pueden
					aplicar refuerzos opcionales de la vacuna de la Hepatitis B, Tétanos /difteria, influenza, entre otras.
					<p></p>
					Cuando alguien recibe una vacuna, el personal médico diligencia un carnet para llevar el registro de las vacunas que le han sido aplicadas a la persona. Sin embargo, con los años este carnet de vacunación puede ser perdido fácilmente, lo que lleva a que
					una persona puede perder la traza de las vacunas que le han sido aplicadas.
					<p></p>
					Que un ciudadano no conozca qué vacunas le han sido aplicadas puede traerle complicaciones. Así por ejemplo, existen vacunas que deben mantener cierta ventana de tiempo antes de ser aplicadas de nuevo y existen vacunas que requieren un número determinado
					de dosis en ciertos períodos de tiempo para no perder efectividad.
					<p></p>
					El gobierno nacional desea desarrollar un sistema de información en el cuál se pueda sistematizar la información del carnet de vacunación. La idea principal es que esta información pueda ser consultada en todo momento por los ciudadanos, centros médicos
					y el ministerio de la salud y la protección social. Este sistema espera ser la solución tecnológica para restarle importancia al carnet de vacunación en papel y garantizar la trazabilidad de la información de vacunación.</div>
		</article>
	</div>
</div>